
*.exe
platform-tools/AdbWinApi.dll
platform-tools/AdbWinUsbApi.dll
backup/adb_functions.pas
backup/awt.lpi
backup/awt.lps
backup/processfunctions.pas
backup/unit1.lfm
backup/unit1.pas
lib/x86_64-win64/adb_functions.o
lib/x86_64-win64/adb_functions.ppu
lib/x86_64-win64/awt.compiled
lib/x86_64-win64/awt.o
lib/x86_64-win64/awt.obj
lib/x86_64-win64/awt.res
lib/x86_64-win64/processfunctions.o
lib/x86_64-win64/processfunctions.ppu
lib/x86_64-win64/unit1.lfm
lib/x86_64-win64/unit1.o
lib/x86_64-win64/unit1.ppu
